<div class="row" ng-controller="MyDashboardController as mdctrl">

	<div class="loadImage_class" id="loaderMain">
		<img src="views/assets/images/spinner.gif" alt="" class="whiteImg" />
		<img src="views/assets/images/spinner_blacktheme.gif" alt=""
			class="blackImg" />
	</div>

	<div class="col-md-12" id="message" align="center"
		style="margin-top: 260px; display: none;">
		<h1>
			<span class="label label-warning">No Widgets Available</span>
		</h1>
	</div>

	<div class="container-fluid myDBContainer" id="customDashboard">
		<!-- Filter Model -->
		<div id="filterModel" class="modal fade" tabindex="-1" role="dialog"
			aria-labelledby="myModalLabel" aria-hidden="true">
			<div class="modal-dialog modal-lg">
				<!-- Modal content -->
				<div class="modal-content">
					<div class="modal-header">
						<button type="button" class="close" data-dismiss="modal">&times;</button>
						<h4 class="modal-title colorWhite">Data Grid</h4>
					</div>
					<div class="modal-body" id="filterDiv"></div>
				</div>
			</div>
		</div>
	</div>
	<!-- DrillDown Model -->
	<div id="drillDownModel" class="modal fade" tabindex="-1" role="dialog"
		aria-labelledby="myModalLabel" aria-hidden="true">
		<div class="modal-dialog modal-lg">
			<!-- Modal content -->
			<div class="modal-content">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal">&times;</button>
					<h4 class="modal-title colorWhite">Data</h4>
				</div>
				<div class="modal-body" style="overflow: auto;">
					<div class="col-md-9 col-sm-9 col-xs-9" id="drillDownDiv"
						style="overflow: auto;"></div>
					&nbsp;&nbsp; <a id="filter-toggle" data-name="show"><i
						class="fa fa-bars barcolor"></i></a>

					<div class="col-md-3 col-sm-3 col-xs-3">
						<div class="col-md-6 col-sm-6 col-xs-6"></div>
						<div class="col-md-6 col-sm-6 col-xs-6">
							<input type="button" name="resetAll" id="resetAll"
								value="Clear All" class="clearAllclass btn btn-primary"><br>
							<br>
						</div>
						<div class="col-md-12 col-sm-12 col-xs-12"
							id="entireDrillDownData">
							<div class="panel-group" id="sprintProgresAccordin1"></div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div id="deleteCustWidgetModal" class="modal fade" tabindex="-1"
		role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
		<div class="modal-dialog modal-sm">
			<!-- Modal content-->
			<div class="modal-content">
				<div class="modal-body">
					<h4 class="modal-title colorWhite">Do You Want to Delete This
						Widget?</h4>
				</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-primary" data-dismiss="modal">Cancel</button>
					<button type="button" class="btn btn-primary"
						ng-click="removeWidgetFromDB()">OK</button>
				</div>
			</div>

		</div>
	</div>

	<div id="deleteStandWidgetModal" class="modal fade" tabindex="-1"
		role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
		<div class="modal-dialog modal-sm">
			<!-- Modal content-->
			<div class="modal-content">
				<div class="modal-body">
					<h4 class="modal-title colorWhite">Do You Want to Delete This
						Widget?</h4>
				</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-primary" data-dismiss="modal">Cancel</button>
					<button type="button" class="btn btn-primary"
						ng-click="deleteStandartWidget()">OK</button>
				</div>
			</div>

		</div>
	</div>

	<div id="addDeleteWidgetModal" class="modal fade" tabindex="-1"
		role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
		<div class="modal-dialog modal-sm">
			<!-- Modal content -->
			<div class="modal-content">
				<div class="modal-body">
					<h4 class="modal-title colorWhite">Widget Deleted From
						MyDashboard.</h4>
				</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-primary" data-dismiss="modal">OK</button>
				</div>
			</div>

		</div>
	</div>
	<div id="succWidgetModal" class="modal fade" tabindex="-1"
		role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
		<div class="modal-dialog modal-sm">
			<!-- Modal content -->
			<div class="modal-content">
				<div class="modal-body">
					<h4 class="modal-title colorWhite">Widget Edited Successfully.</h4>
				</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-primary"
						ng-click="drawFinalChart()">OK</button>
				</div>
			</div>

		</div>
	</div>

	<!-- Modal -->
	<div class="modal fade" id="myDoodahModel" tabindex="-1" role="dialog"
		aria-labelledby="myModalLabel" aria-hidden="true">
		<div class="modal-dialog modal-lg">
			<div class="modal-content">
				<!-- Modal Header -->
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal">
						<span aria-hidden="true">&times;</span> <span class="sr-only">Close</span>
					</button>
					<h4 class="modal-title colorWhite" id="myModalLabel">Edit
						{{widgetTitle}}</h4>
				</div>

				<!-- Modal Body -->
				<div class="modal-body" style="height: 480px; overflow: auto;">

					<div class="row form-horizontal">
						<div class="col-md-6">
							<!-- common options -->
							
							<div class="col-sm-12 mt10">
								<div class="col-sm-4 mTopMini">
									<label class="control-label">Shared Location</label>
								</div>
								<div class="col-sm-8">
									<input class="form-control" type="text" size="40"
										placeholder="Enter Shared Location Path" name="custFileRealPath"
										id="custFileRealPath" ng-model="custFileRealPath" value="" />
								</div>
							</div>
							
							<div class="col-sm-12 mt10">
								<div class="col-sm-4 mTopMini">
									<label class="control-label">Widget Name</label>
								</div>
								<div class="col-sm-8">
									<input class="form-control" type="text" size="40"
										placeholder="Enter Your Widget Name" name="widgetName"
										id="widgetName" ng-model="widgetName" value="" />
								</div>
							</div>
							<div class="col-sm-12 mt10">
								<div class="col-sm-4 mTopMini">
									<label class="control-label">Chart Type</label>
								</div>
								<div class="col-sm-8">

									<select ng-model="chartType" class="form-control"
										name="chartType" id="chartType" ng-change="changeChartType()">

										<option value="lineChart">Line Chart</option>
										<option value="barChart">Bar Chart</option>
										<option value="areaChart">Area Chart</option>
										<option value="pieChart">Pie Chart</option>
										<option value="scatterChart">Scatter Chart</option>
										<option value="gaugeChart">Gauge Chart</option>
										<option value="stackedChart">Stacked Bar Chart
											(single group)</option>
										<option value="stackedMultiChart">Stacked Bar Chart
											(multi group)</option>
										<option value="stackedSingleClustered">Stacked Bar
											Clusterd Chart (single group)</option>
										<option value="stackedMultiClustered">Stacked Bar
											Clustered Chart(multi group)</option>
										<option value="stackedLineMultiChart">Stacked Line
											Chart (multi group)</option>
										<option value="stackedAreaMultiChart">Stacked Area
											Chart (multi group)</option>
										<!-- 										<option value="ganttChart">Gantt Chart</option> -->
									</select>
								</div>
							</div>


							<!-- Except gauge Chart, Remaining all other Charts options -->
							<div ng-show="AllCharts">
								<div class="col-sm-12 mt10" ng-show="chartType!=='gaugeChart'">
									<div class="col-sm-4 mTopMini">
										<label class="control-label">Select X Axis</label>
									</div>
									<div class="col-sm-8">
										<select class="form-control" name="xColumn" id="xColumn"
											ng-model="xAxis" ng-change='toGetColors(xAxis)'>
											<option ng-repeat="(key, value) in dataOptions"
												value="{{key}}">{{key}}</option>
										</select>
									</div>
								</div>


								<!-- Except gauge and pie Chart, Remaining all other Charts options -->


								<div class="col-sm-12 mt10"
									ng-show="chartType!=='gaugeChart' && chartType!=='pieChart'">
									<div class="col-sm-4 mTopMini">
										<label class="control-label">X Axis Label</label>
									</div>
									<div class="col-sm-8">
										<input class="form-control" type="text" size="40"
											placeholder="Enter X Axis Label" name="xaxislabel"
											id="xaxislabel" ng-model="xAxisLabel" value="" />
									</div>
								</div>
								<div ng-show="xAxisDataTypeForSlide">
									<div class="col-sm-12 mt10"
										ng-show="chartType!=='gaugeChart' && chartType!=='pieChart'">
										<div class="col-sm-4 mTopMini">
											<label class="control-label">X Axis Data Type</label>
										</div>
										<div class="col-sm-8">
											<select class="form-control" name="xColumndatatype"
												id="xColumndatatype" ng-model="xdatatype"
												ng-change="onxaxisDatatype(xdatatype)">
												<option value="">Select X-Axis Data Type</option>
												<option value="Number">Number</option>
												<option value="String">String</option>
												<option value="Date">Date</option>
												<option value="DateandTime">Date And Time</option>
											</select>
										</div>
									</div>
									<div class="col-sm-12 mt10" ng-show="dateandtimeformat">
										<div class="col-sm-4 mTopMini">
											<label class="control-label">Date and Time Format</label>
										</div>
										<div class="col-sm-8">
											<div class="col-xs-6" style="padding: 0px 2px 0px 0px;">
												<select class="form-control" name="dateformat"
													id="dateformat" ng-model="dateformatselect">
													<option value="">Select Date Format</option>
													<option value="%Y-%m-%d">yyyy-MM-dd</option>
													<option value="%m/%d/%Y">MM/dd/yyyy</option>
													<option value="%d/%m/%Y">dd/MM/yyyy</option>
													<option value="%m-%d-%Y">MM-dd-yyyy</option>
													<option value="%d-%m-%Y">dd-MM-yyyy</option>
													<option value="%m.%d.%Y">MM.dd.yyyy</option>
													<option value="%d.%m.%Y">dd.MM.yyyy</option>
												</select>
											</div>
											<div class="col-xs-6" style="padding: 0px 0px 0px 2px;">
												<select class="form-control" name="timeformat"
													id="timeformat" ng-model="timeformatselect">
													<option value="">Select Time Format</option>
													<option value="0">HH:mm:ss</option>
													<option value="1">HH:mm</option>
												</select>
											</div>
										</div>
									</div>
									<div class="col-sm-12 mt10" ng-show="dateformat">
										<div class="col-sm-4 mTopMini">
											<label class="control-label">Date Format</label>
										</div>
										<div class="col-sm-8">
											<select class="form-control" name="dateformat"
												id="dateformat" ng-model="dateformatselect">
												<option value="">Select Date Format</option>
												<option value="%Y-%m-%d">yyyy-MM-dd</option>
												<option value="%m/%d/%Y">MM/dd/yyyy</option>
												<option value="%d/%m/%Y">dd/MM/yyyy</option>
												<option value="%m-%d-%Y">MM-dd-yyyy</option>
												<option value="%d-%m-%Y">dd-MM-yyyy</option>
												<option value="%m.%d.%Y">MM.dd.yyyy</option>
												<option value="%d.%m.%Y">dd.MM.yyyy</option>
											</select>
										</div>
									</div>
								</div>
								<!-- Except gauge and pie Chart, Remaining all other Charts options -->

								<div class="col-sm-12 mt10"
									ng-show="chartType!=='gaugeChart' && chartType!=='pieChart'">
									<label class="col-sm-4 mTopMini control-label" for="xAxisLabel">X
										Axis Tick Text Length</label>
									<div class="col-sm-8">
										<input type="text" class="form-control" id="xAxisticklength"
											placeholder="X Axis Tick Text Length"
											ng-model="xAxisticklength" /> <label id="subtext">length
											should be between 0 to 100</label><br>
									</div>
								</div>

								<!-- Except gauge Chart, Remaining all other Charts options -->

								<div class="col-sm-12 mt10" ng-show="xaggregationfromAll">
									<div class="col-sm-4 mTopMini">
										<label class="control-label">X - Aggregation</label>
									</div>
									<div class="col-sm-8">
										<div>
											<label> <input type="radio" name="xAggrFunc"
												value="count" ng-model="aggregation"> <label
												class="control-label">Count</label> &nbsp;&nbsp;
											</label> <label ng-show="aggregNone"> <input type="radio"
												name="xAggrFunc" value="" checked ng-model="aggregation"><label
												class="control-label">None</label> &nbsp;&nbsp;
											</label>
										</div>
									</div>
								</div>


								<!-- If  X - Aggregation is not Count -->


								<div ng-show="yaxishideorshow">
									<div ng-show="aggregation !== 'count'">
										<div class="col-sm-12 mt10">
											<div class="col-sm-4 mTopMini">
												<label class="control-label">Select Y Axis</label>
											</div>
											<div class="col-sm-8">
												<select class="form-control" name="yColumn" id="yColumn"
													ng-model="yAxis" ng-change="onyaxischange()">
													<option ng-repeat="(key, value) in dataOptions"
														value="{{key}}">{{key}}</option>
												</select>
											</div>
										</div>

										<div class="col-sm-12 mt10" ng-show="chartType!=='pieChart'">
											<div class="col-sm-4 mTopMini">
												<label class="control-label">Y Axis Label</label>
											</div>
											<div class="col-sm-8">
												<input class="form-control" type="text" size="40"
													placeholder="Enter Y Axis Label" name="yaxislabel"
													id="yaxislabel" ng-model="yAxisLabel" value="" />
											</div>
										</div>

										<div class="col-sm-12 mt10">
											<div class="col-sm-4 mTopMini">
												<label class="control-label">Y - Aggregation</label>
											</div>
											<div class="col-sm-8">
												<div>
													<input type="radio" name="yAggrFunc" value="sum"
														ng-model="yAggregation"><label
														class="control-label">Sum</label> &nbsp;&nbsp; <input
														type="radio" name="yAggrFunc" value="count"
														ng-model="yAggregation"><label
														class="control-label">Count</label> &nbsp;&nbsp; <input
														type="radio" name="yAggrFunc" value="avg"
														ng-model="yAggregation"><label
														class="control-label">Avg</label> &nbsp;&nbsp;

												</div>
											</div>
										</div>
									</div>
								</div>

								<!-- Single Group Charts -->

								<div class="col-sm-12 mt10"
									ng-show="chartType==='stackedChart' || chartType==='stackedSingleClustered'">
									<div class="col-sm-4 mTopMini">
										<label class="control-label">Group By</label>
									</div>
									<div class="col-sm-8">
										<select class="form-control" name="groupBy" id="groupBy"
											ng-model="groupBy" ng-change='toGetColors(groupBy)'>
											<option ng-repeat="(key, value) in dataOptions"
												value="{{key}}">{{key}}</option>
										</select>
									</div>
								</div>

								<!-- Multi Group Charts -->

								<div class="col-sm-12 mt10">

									<div class="row mTopMini mLeft15"
										ng-show="chartType==='stackedMultiChart' || chartType==='stackedMultiClustered' || chartType==='stackedLineMultiChart' || chartType==='stackedAreaMultiChart'">

										<div class="input-group control-group after-add-more">

											<div class="input-group-btn">
												<button class="btn btn-success add-more" type="button"
													ng-click='add()'>
													<i class="glyphicon glyphicon-plus"></i> Add Groups
												</button>
											</div>
										</div>
									</div>
									<div class="row mTopMini">

										<div ng-repeat='groupbymulti in items'
											ng-show="chartType==='stackedMultiChart'||chartType==='stackedMultiClustered'||chartType==='stackedLineMultiChart'||chartType==='stackedAreaMultiChart'">

											<div class="col-sm-4 mTopMini">
												<span class="label label-primary reprtsTitle">Group
													{{$index + 1}}</span>
											</div>
											<div class="col-sm-8">
												<div class="col-md-10" style="padding: 0px;">
													<select class="form-control" name="groupBy{{$index}}"
														id="groupbymulti{{$index}}" ng-model="groupBy2"
														ng-change='toGetColors("stack")'>
														<option ng-repeat="(key, value) in dataOptions"
															value="{{key}}">{{key}}</option>
													</select>
												</div>
												<div class="col-md-2" style="padding-top: 2%;">
													<i class="fa fa-trash-o" style="font-size: 20px;"
														aria-hidden="true" ng-click='del($index)'></i><br> <br>
												</div>
											</div>
											<div ng-show="trendlineforstacked">
												<div class="col-sm-12"
													ng-show="chartType==='stackedMultiChart'||chartType==='stackedMultiClustered'">
													<div class="col-sm-4 mTopMini"></div>
													<div class="col-sm-8 mTopMini">
														<label class="control-label colorWhite">Need Trend
															Line ?</label> &nbsp; <input type="radio"
															name="trndline{{$index}}" value="yes"
															id="groupbymultiTrend{{$index}}" /><label
															class="control-label colorWhite"> Yes</label> &nbsp; <input
															type="radio" name="trndline{{$index}}" value="no"
															id="groupbymultiTrend{{$index}}" checked="checked" /><label
															class="control-label colorWhite"> No</label> <br>
														<div>
															<label class="control-label colorWhite">Color</label>
															&nbsp;
															<div class="cp input-group colorpicker-component"
																id="cPickerLineTrend{{$index}}" style="width: 71%;">
																<input type="text" ng-model="colorVar"
																	class="form-control textColorsArray"
																	id="colorLineTrend{{$index}}" /> <span
																	class="input-group-addon"><i></i></span>
															</div>
														</div>
														<br>
													</div>
												</div>
											</div>
										</div>
									</div>
								</div>


								<!-- Gauge Chart options -->

								<div class="col-sm-12 mt10" ng-show="chartType==='gaugeChart'">
									<div class="col-sm-4 mTopMini">
										<label class="control-label">Gauge Types</label>
									</div>
									<div class="col-sm-8">
										<select class="form-control" name="gaugeChartType"
											ng-model="gaugeTypeMyD">
											<option value="powerGauge">Power Gauge</option>
											<option value="liquidGauge">Liquid fill Gauge Chart</option>
										</select>
									</div>
								</div>

								<div class="col-sm-12 mt10" ng-show="chartType==='gaugeChart'">
									<div class="col-sm-4 mTopMini">
										<label class="control-label">Select column</label>
									</div>
									<div class="col-sm-8">
										<select ng-model="gaugeColumn" class="form-control"
											name="gColumn" id="gColumn">
											<option ng-repeat="(key, value) in dataOptions"
												value="{{key}}">{{key}}</option>
										</select>
									</div>
								</div>

								<div class="col-sm-12 mt10" ng-show="chartType==='gaugeChart'">
									<div class="col-sm-4 mTopMini">
										<label class="control-label">Aggregation</label>
									</div>
									<div class="col-sm-8">
										<div>
											<input ng-model="gAggregation" type="radio" name="gAggrFunc"
												value="sum" checked> <label class="control-label">Sum</label>
											&nbsp;&nbsp; <input ng-model="gAggregation" type="radio"
												name="gAggrFunc" value="count"><label
												class="control-label">Count</label> &nbsp;&nbsp; <input
												ng-model="gAggregation" type="radio" name="gAggrFunc"
												value="avg"><label class="control-label">Avg</label>
											&nbsp;&nbsp;
										</div>
										<b>{{selectAggr}}</b>

										<!-- 										<span id='selAggrMyD'></span></b><span id='selAggrValMyD' -->
										<!-- 											class='selAggrValMyD'></span> -->
									</div>
								</div>

								<div class="col-sm-12 mt10" ng-show="chartType==='gaugeChart'">
									<div class="col-sm-4 mTopMini">
										<label class="control-label">Max value</label>
									</div>
									<div class="col-sm-8">
										<input name="maxGuageValue" id="maxGuageValue"
											class="form-control" size="40" ng-model="maxValue.value"
											value="{{maxValue.value}}" /><br> <span id="subtext">(to
											calculate the percentage)</span>
									</div>
								</div>
							</div>
							<div ng-show="forGauttChart">
								<div class="col-sm-12 mt10">
									<div class="col-sm-4 mTopMini">
										<label class="control-label">Select Task</label>
									</div>
									<div class="col-sm-8">
										<select ng-model="taskColumn" class="form-control" name="task"
											id="task" ng-change='toGetColors(xAxis)'>
											<option ng-repeat="(key, value) in dataOptions"
												value="{{key}}">{{key}}</option>
										</select>
									</div>
								</div>
								<div class="col-sm-12 mt10">
									<div class="col-sm-4 mTopMini">
										<label class="control-label">Select Task Type</label>
									</div>
									<div class="col-sm-8">
										<select ng-model="taskTypeColumn" class="form-control"
											name="taskType" id="taskType">
											<option ng-repeat="(key, value) in dataOptions"
												value="{{key}}">{{key}}</option>
										</select>
									</div>
								</div>

								<div class="col-sm-12 mt10">
									<div class="col-sm-4 mTopMini">
										<label class="control-label">Select Start Date</label>
									</div>
									<div class="col-sm-8">
										<select ng-model="startDateColumn" class="form-control"
											name="startDate" id="startDate">
											<option ng-repeat="(key, value) in dataOptions"
												value="{{key}}">{{key}}</option>
										</select>
									</div>
								</div>

								<div class="col-sm-12 mt10">
									<div class="col-sm-4 mTopMini">
										<label class="control-label">Select End Date</label>
									</div>
									<div class="col-sm-8">
										<select ng-model="endDateColumn" class="form-control"
											name="endDate" id="endDate">
											<option ng-repeat="(key, value) in dataOptions"
												value="{{key}}">{{key}}</option>
										</select>
									</div>
								</div>

								<div class="col-sm-12 mt10">
									<div class="col-sm-4 mTopMini">
										<label class="control-label">Select Date Format</label>
									</div>
									<div class="col-sm-8">
										<select ng-model="dateformatColumn" class="form-control"
											name="dateformatColumn" id="dateformatColumn">
											<option value="">Select Date Format</option>
											<option value="%Y-%m-%d">yyyy-MM-dd</option>
											<option value="%m/%d/%Y">MM/dd/yyyy</option>
											<option value="%d/%m/%Y">dd/MM/yyyy</option>
											<option value="%m-%d-%Y">MM-dd-yyyy</option>
											<option value="%d-%m-%Y">dd-MM-yyyy</option>
											<option value="%m.%d.%Y">MM.dd.yyyy</option>
											<option value="%d.%m.%Y">dd.MM.yyyy</option>
											<option value="%d %m %Y">dd MM yyyy</option>
											<option value="%d %b %Y">dd mmm yyyy</option>

										</select>
									</div>
								</div>
							</div>
							<!-- common options -->
							<div class="col-sm-12 mt10">
								<div class="col-sm-4 mTopMini">
									<label class="control-label">Chart Summary</label>
								</div>
								<div class="col-sm-8">
									<input class="form-control" type="text" size="40"
										placeholder="Enter Your Chart Summary" name="rest_api"
										id="rest_api" ng-model="chartSummary" value="" />
								</div>
							</div>

							<!-- only Pie chart -->

							<div class="col-sm-12 mt10" ng-show="chartType=='pieChart'">
								<label class="col-sm-4 mTopMini"></label>
								<div class="col-sm-8">
									<input ng-model="valueOrPercentage.check" type="radio"
										name="valueOrPercentage" value="percentage" checked> <label
										class="control-label">Percentage</label> &nbsp;&nbsp; <input
										ng-model="valueOrPercentage.check" type="radio"
										name="valueOrPercentage" value="Value"><label
										class="control-label">Value</label>

								</div>
							</div>

							<!-- rotate labels and show values -->
							<div class="col-sm-12 mt10"
								ng-show="chartType!=='pieChart' && chartType!=='gaugeChart'">
								<label class="col-sm-4 mTopMini"></label>
								<div class="col-sm-8 mTopMini">
									<label class="control-label">Rotate labels</label> <input
										type="checkbox" name="rotateLabels" value="false"
										ng-model="rLable" />
								</div>
							</div>

							<!-- Trend Line for bar chart -->
							<div ng-show="trendLineforchart">
								<div class="col-sm-12 mt10"
									ng-show="chartType==='barChart'|| chartType==='stackedChart' || chartType==='stackedSingleClustered'">
									<div class="col-sm-4 mTopMini"></div>
									<div class="col-sm-8 mTopMini">
										<label class="control-label">Trend Line</label> <input
											type="checkbox" name="trndline" value="false" id="trndline"
											ng-model="trendLine" ng-change="trendlineOnchange()" />
									</div>
								</div>

								<div class="col-sm-12 mt10" ng-show="trendLineShow">
									<div class="col-sm-4 mTopMini">
										<label class="control-label colorWhite">Trend Line
											Color</label>
									</div>
									<div class="col-sm-8">
										<div class="cp input-group colorpicker-component"
											id="cPickerLine1">
											<input type="text" ng-model="colorVar"
												class="form-control textColorsArray" id="colorLine1" /> <span
												class="input-group-addon"><i></i></span>
										</div>
									</div>
								</div>
							</div>

							<div class="col-sm-12 mt10"
								ng-show="chartType!=='pieChart' && chartType!=='gaugeChart'">
								<label class="col-sm-4 mTopMini"></label>
								<div class="col-sm-8">
									<label class="control-label">Show values</label> <input
										type="checkbox" name="showLabels" value="false"
										ng-change="showValueLabels()" ng-model="showLabels" />
								</div>
							</div>
							<!-- Legend Position-->

							<div class="col-sm-12 mt10"
								ng-show="chartType==='stackedChart'||chartType==='stackedMultiChart'||chartType==='stackedMultiClustered'||chartType==='pieChart'||chartType==='stackedSingleClustered'||chartType==='stackedLineMultiChart'||chartType==='stackedAreaMultiChart'">
								<div class="col-sm-4 mTopMini">
									<label class="control-label">Legend Position</label>
								</div>
								<div class="col-sm-8">
									<div>
										<input ng-change="changeLegendPos()" type="radio"
											name="Top Left" value="Top Left" checked ng-model="legendPos"><label
											class="control-label">Top Left</label> &nbsp;&nbsp; <input
											ng-change="changeLegendPos()" type="radio" name="Bottom Left"
											value="Bottom Left" ng-model="legendPos"><label
											class="control-label"> Bottom Left </label>&nbsp;&nbsp;
									</div>
								</div>
							</div>
							<div class="form-group">
								<div id="TextBoxesGroup"></div>
								<div class="col-sm-12 mTop" align="right"></div>
							</div>
							<div class="form-group">
								<div class="col-sm-offset-8 col-sm-4">
									<button type="button" class="btn btn-primary"
										ng-click="drawChart()">Preview</button>
								</div>
							</div>
						</div>
						<div class="col-md-6" id="panel">
							<div ng-show='errortext' align="center">
								<p id='errortext' style="color: red; font-weight: 900;"></p>
							</div>

							<div class="row mTop20" ng-show="showChart">
								<div id="sDChart"
									style="width: 40%; height: 450px; position: fixed;"></div>
								<div id='gaChart'
									style="display: none; position: fixed; width: 40%;">

									<svg id="fillgauge" width="100%" height="300px"
										style="display: block;"></svg>
									<div id="power-gauge" style="display: none;"></div>
								</div>

							</div>

						</div>
					</div>

				</div>

				<!-- Modal Footer -->
				<div class="modal-footer">
					<button type="button" class="btn btn-default" data-dismiss="modal">
						Close</button>
					<button type="button" class="btn btn-primary" id="saveBtn"
						ng-click="saveToDB()">Save changes</button>
				</div>
			</div>
		</div>
	</div>

	<div id="colorAlertModel" class="modal fade" tabindex="-1"
		role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
		<div class="modal-dialog modal-sm">
			<!-- Modal content -->
			<div class="modal-content">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal">&times;</button>
					<h4 class="modal-title colorWhite"></h4>
				</div>
				<div class="modal-body">
					<h4 class="colorWhite">Cannot remove all the colors.Plotting
						with default color.</h4>
				</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-primary" data-dismiss="modal"
						ng-click="drawchartbyColor()">OK</button>
					<button type="button" class="btn btn-primary" data-dismiss="modal">Cancel</button>
				</div>
			</div>
		</div>
	</div>

	<div id="removeColorModal" class="modal fade" tabindex="-1"
		role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
		<div class="modal-dialog modal-sm">
			<!-- Modal content -->
			<div class="modal-content">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal">&times;</button>
					<h4 class="modal-title colorWhite"></h4>
				</div>
				<div class="modal-body">
					<h4 class="colorWhite">Cannot remove all the colors</h4>
				</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-primary" data-dismiss="modal">Close</button>
				</div>
			</div>
		</div>
	</div>

	<script type="text/javascript" src="views/lib/dc/d3.js"></script>
	<script type="text/javascript" src="views/lib/dc/crossfilter.js"></script>
	<script type="text/javascript" src="views/lib/dc/dc-gazal.js"></script>
	<script type='text/javascript' src='views/lib/dc/queue.js'></script>
	<script type='text/javascript' src='views/lib/common/reductio.min.js'></script>
	<script type="text/javascript" src="views/lib/dc/liquidFillGauge.js"></script>
	<script type="text/javascript" src="views/lib/dc/powerGauge.js"></script>
	<script src="views/lib/bootstrap/bootstrap-colorpicker.min.js"></script>
</div>